$default-transition-duration: 500ms;
$perspective: 300;

/***
* CSS3 FLIP CARDS
* Markup for an element that a user can hover to reveal content on the back, like a card
* Browser Support: Safari, Firefox, Chrome, IE8+, and Touch Devices; (IE9 and below will not have any flip effect but will just change on hover)
***/



body {
  background-color: #FFFFFF; // Old browsers
  @include filter-gradient(#e6f2f7, #a0d8ef, horizontal); 
  @include background-image(radial-gradient(center, circle cover,  #e6f2f7 0%,#a0d8ef 100%));

}

.viewport {
  margin: 10px auto 0;
  width: 500px;
}

#consent {
  margin-top:1%;
  font-size: 110%;
}

#next-button {
  margin-top: 1%;
}

.block-text {
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#start-button {
  display:block;
}

/*ephemeral css starts here*/

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}




.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-size:80%;
    
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {

  background-color: #ddd;
}

.dropdown-divider {
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
}

/* Show the dropdown menu */
.show {display:block;}

.fadein {

}

.copy {
  opacity: 0;
}